<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Vinci Investments{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
    {% endblock %}
</head>
{% block main %}
    <body>
    <header>
        {% block header %}
            <div class="main-nav">
                <a href="{{ path('homepage') }}"><img class="logo-nav" src="{{ asset('img/LOGO.png') }}"
                                                      height="55px"/></a>
                <a href="{{ path('homepage') }}" class="first-link">Accueil</a>
                <a href="{{ path('service') }}">Services</a>
                <a href="{{ path('team') }}">Équipe</a>
                <a href="{{ path('contact') }}">Contact</a>
                <a href="{{ path('blog') }}">Blog</a>
            </div>
        {% endblock %}
    </header>

        <div class="top-container">
            {% block topcontent %}
            <h1>Vinci Investments</h1>
            {% endblock %}
            <div class="inside-top-container">
                <div class="inside-top-icon"><img src="{{ asset('img/iim.png') }}" alt="iim" height="55px"
                                                  class="school-logo"></div>
                <div class="inside-top-icon"><img src="{{ asset('img/emlv.png') }}" alt="emlv" height="55px"
                                                  class="school-logo"></div>
                <div class="inside-top-icon"><img src="{{ asset('img/esilv.png') }}" alt="esilv" height="55px"
                                                  class="school-logo"></div>
                <div class="inside-top-icon"><img src="{{ asset('img/devinci-partners.png') }}" alt="dvp" height="80px">
                </div>
                <div class="inside-top-icon"><img src="{{ asset('img/leonard-de-vinci.png') }}" alt="ldv" height="80px">
                </div>
                <div class="inside-top-icon"><img src="{{ asset('img/tedx.png') }}" alt="tedx" height="50px"
                                                  class="ted-logo"></div>
                <div class="inside-top-icon"><img src="{{ asset('img/pole-leonard-de-vinci.png') }}" alt="aldv"
                                                  height="80px"></div>
                <div class="inside-top-icon"><img src="{{ asset('img/poletech.png') }}" alt="poletech" height="80px">
                </div>
            </div>
        </div>


    {% block content %}
    {% endblock %}

    {% block footer %}
        <footer>
            <div class="footer-container"><img src="{{ asset('img/LOGO.png') }}" alt="logo" height="90px"
                                               class="logo-footer"></div>
            <div class="footer-container-middle">
                <div class="foot-cont-left">
                    <img src="{{ asset('img/position.png') }}" alt="Loc" height="40px">
                </div>
                <div class="foot-cont-right">
                    <p class="footer-center-text-top">
                        12 avenue Léonard de Vinci
                    </p>
                    <p class="footer-center-text-bot">
                        92400 Courbevoie
                    </p>
                </div>
            </div>
            <div class="footer-container-right">
                <a href="https://www.facebook.com/VinciInvestments/"><img src="{{ asset('img/facebook.png') }}" alt="fb" height="50px" width="50px" class="footer-icon">
                <a href="https://twitter.com/Vinci_Invests?lang=fr"><img src="{{ asset('img/twitter.png') }}" alt="fb" height="50px" width="50px" class="footer-icon">
                <a href="{{ path('contact') }}"><img src="{{ asset('img/email-filled-closed-envelope.png') }}" alt="mail" height="50px" width="50px"
                     class="footer-icon"></a>
            </div>
        </footer>
    {% endblock %}
    </body>
{% endblock %}
</html>

