{% extends 'base.html.twig' %}
{% block topcontent %}<h1>Blog</h1>{% endblock %}
{% block content %}
    <div class="blog-container">
        {% for article in articles %}

            <div class="article-container">
                <div class="title-info">
                    <div class="article-date">
                        <span class="day-span">{{ article.createdAt | date ('d') }}</span>
                        <p class="monthyear-span">{{ article.createdAt | date ('m/Y') }}</p>
                    </div>
                    <div class="article-title">
                        {{ article.title }}
                    </div>
                </div>
                <hr>
                <div class="article-excerpt">
                    {{ article.excerpt }}
                </div>
                <a href="{{ path('article', {'slug': article.slug}) }}" class="article-button">Lire la suite</a>
            </div>












        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    Blog
{% endblock %}