{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% block title %} Accueil{% endblock %}
{% endblock %}
{% block topcontent %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="top-hp-container">
        <h2>Qui sommes nous ?</h2>
        <div class="inside-top-hp">
            <div class="top-point">
                <ul class="ul-point">
                    <li class="li-point">Rigueur</li>
                    <li class="li-point">Dépassement de soi</li>
                    <li class="li-point">Esprit d'équipe</li>
                </ul>
            </div>
            <div class="mid-text">
                <div class="left-inside-top-hp">
                    <div class="point-info-container">
                        <div class="point-info">- Juin 2017</div>
                        <div class="point-info">- 80 membres</div>
                        <div class="point-info">- 3 écoles</div>
                    </div>
                </div>
                <div class="right-inside-top-hp">
                    <div class="top-hp-left-content">
                        Son objectif principal est de faire découvrir la finance aux étudiants. Nous leur per-mettons
                        ainsi, à travers des formations, de passer de la théorie à la pratique dans un environnement qui
                        se rapproche le plus possible des banques d’affaires.Chez Vinci Investments, nous défendons une
                        identité forte par le partage de valeurs communes : la rigueur dans le travail, l’esprit
                        d’équipe et le dépassement de soi.
                    </div>
                </div>
            </div>
        </div>
        <div class="inside-bot-hp">
            <div class="side-blocks"></div>
            <div class="img-block"></div>
            <div class="side-blocks"></div>
        </div>
    </div>
    <div class="bot-hp-container">
        <div class="bg-bot">
            <h2>Nos atouts</h2>
            <div class="school-info">
                <div class="esilv-container">
                    <img src="{{ asset('img/logo-esilv.png') }}" alt="esilv" height="140px" width="140px">
                    <div class="numbers">
                        4600
                        <div class="span-p">étudiants</div>
                    </div>

                </div>
                <div class="iim-container">
                    <img src="{{ asset('img/logo-iim.png') }}" alt="iim" height="140px" width="140px">
                    <div class="numbers">
                        3
                        <div class="span-p">écoles</div>
                    </div>

                </div>
                <div class="emlv-container">
                    <img src="{{ asset('img/logo-emlv.png') }}" alt="emlv" height="140px" width="140px">
                    <div class="numbers">
                        92400
                        <div class="span-p">La Défense</div>
                    </div>

                </div>
            </div>
            <div class="perks-container">
                <div class="left-perk">
                    <ul class="left-descr">
                        <li>Profils variés</li>
                        <li>Points de vues différents</li>
                        <li>Compétences multiples</li>
                    </ul>
                </div>
                <div class="right-perk">
                    <article class="perk-descr">Vinci Investments regroupe des étudiants de l’ESILV (Ecole Supé-rieure
                        d’Ingénieurs Léonard de
                        Vinci), de l’EMLV (Ecole de Manage-ment Léonard de Vinci) et de l’IIM (Institut de l’Internet et
                        du Multimé-dia). Cela permet de travailler avec des profils variés et des points de vus
                        différents du monde de la finance, panel de compétences large.
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



    {% block footer %}
        {{ parent() }}
    {% endblock %}