{% extends 'base.html.twig' %}

{% block content %}
    <h1> Mon Contenu</h1>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; margin-bottom: 20px;">
                <h5 class="card-header">{{ article.title }}</h5>
                <div class="card-body">
                    <p class="card-text">{{ article.content }}</p>

                </div>
            </div>
            <div class="container">

                {{ form_start(commentForm) }}
                {{ form_widget(commentForm) }}
                {{ form_end(commentForm) }}


                    <div class="card" style="width: 18rem; margin-bottom: 20px;">

                    </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block title %}
    Blog
{% endblock %}