{% extends 'base.html.twig' %}

{% block content %}


    <div class="slug-article-container">
        <div class="article-main">
            <div class="main-title">
                {{ article.title }}
            </div>
            <div class="article-yt">
                {% if article.youtube is defined and article.youtube != '' %}
                    <iframe width="560" height="315" src="{{ article.youtube }}" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                {% endif %}
            </div>
            <div class="main-content">
                {{ article.content|raw }}
            </div>

        </div>
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.content) }}
        {{ form_end(commentForm) }}

        {% for comment in comments %}
            <div class="comment-container">
                <div class="comment-block">
                    <p class="comment-section">
                    {{ comment.content }}
                    </p>
                    <h4>Commentaire publié le : {{ comment.created | date ('d/m/Y') }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

{% block title %}
    Blog
{% endblock %}